#bordure {
    border-style:solid;
    text-align : center;
    margin-top:15px;
    padding:10px;

}

#logoCPNV {
    margin-top:15px;
    margin-right:10px;
}

.h3{
    text-align: center;
}


#posi_du_site {
    border-style:solid;
    text-align : left;
    margin-top:10px;
    padding:5px;
}

#groupbox {
    border-collapse:separate;
    border:solid #2e6da4 1px;
    border-radius:6px;

}

#titre{

    border-left:solid #2e6da4 1px;
    border-top:solid #2e6da4 1px;
}

#blockDuHaut{
    margin-bottom:10px;
}

#blockDuBas{
    margin-top:100px;
    margin-left:25%;
}

#bordure1{
    border-style:solid;
    border-radius: 10px;

}

