
body{

    background: url(images/blue-mountains-colline-fond-d-ecran-1758641.jpg) center;
    background-size: cover;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}

#bandoVE {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: turquoise;
}

#logoCPNV {
    margin-top: 15px;
    margin-right: 10px;
}

#filDarianne {
    border-style: solid;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    background-color: turquoise;
}

#titre {
    border-left: solid #2e6da4 1px;
    border-top: solid #2e6da4 1px;
}



#titreActivite{
    background-color: turquoise;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 5px;

}


#activités {
    height:100%;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;

    background: rgba(1, 0, 0, 0.5);
    color: #ffffff;
}


#partieDuHaut{
    margin-bottom:20px;
}

#Connexion{
    float:right
}


#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #ffffff;
    margin-top:35px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}


#filtre {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#filtre th, #filtre td {
    text-align: left;
    padding: 12px;
}

#filtre tr {
    border-bottom: 1px solid #ddd;
}

#filtre tr.header, #filtre tr:hover {
    background-color: #f1f1f1;
}


#bouttonRecherche{
    border-radius: 3px;
    border-width: 1px;
}

#boutton{
    margin:auto;
    vertical-align: center;
}

.bold-blue {
    font-weight: bold;
    color: #0277BD;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#index0{
    color: #000000;
}
#index1{
    color: #000000;
}
#index2{
    color: #000000;
}
#index3{
    color: #000000;
}
#index4{
    color: #000000;
}
#index5{
    color: #000000;
}
#index6{
    color: #000000;
}

#btnAjouter{
    position:fixed;
    margin-top: 3px;
    margin-left: 3px;
}

#btnSupprimer{
    position:fixed;
    margin-left:68px;
    margin-top: 3px;
}