/*
Auteur:Esteban Giorgis
Titre:Login CSS
Date:15.10.2019
Version:1.0
 */

body{
    background: url(../images/blue-mountains-colline-fond-d-ecran-1758641.jpg)center;
    background-size: cover;
    font-family: sans-serif;
}


.container {
    height: 100%;
    width: 100%;

}

#bandoVE {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-radius: 3px;
    background: turquoise;


}

#logoCPNV {
    margin-top: 15px;
    margin-right: 10px;
}

#filDariane {
    border-style: solid;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    background-color: turquoise;
}


#blockDuHaut {
    margin-bottom: 20px;
}

#blockDuMillieu{
    width:200px;

}

#blockDuBas {
    padding-bottom:400px;
    padding-top: 90px;
    padding-left: 25%;
    padding-right: 25%;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background: rgba(1, 0, 0, 0.5);
    color: #fff;
}


#titreIdentifiant {
    text-align: center;
}

#titreMDP {
    text-align: center;
}


#titreLogin {
    background-color: turquoise;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 15px;
    text-align: center;
}


#partieDeGauche {
    float: left;
    text-align: center;
}

#partieDuMillieu {
    text-align: center;

}

#oeil{
    margin-left:1px;
}


#email{
    margin-bottom:50px;
}

#mdp{
    margin-bottom:5px;
}
