/*
Auteur:Esteban Giorgis
Titre:Page avec le login CSS
Date:15.10.2019
Version:1.0
 */
body {

    background: url(../images/blue-mountains-flou-50.jpg)center;
    background-size: cover;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}

#bandoVE {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: turquoise;
}

#logoCPNV {
    margin-top: 15px;
    margin-right: 10px;
}

#filDarianne {
    border-style: solid;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    background-color: turquoise;
}

#titre {
    border-left: solid #2e6da4 1px;
    border-top: solid #2e6da4 1px;
}


#titreActivite {
    background-color: turquoise;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 16px;

}


#activités {
    height: 100%;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;

    background: rgba(1, 0, 0, 0.5);
    color: #ffffff;
}


#partieDuHaut {
    margin-bottom: 20px;
}

#Connexion {
    float: right
}


#barreRechercheType {
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: rgba(1, 0, 0, 0.5);
    color: #ffffff;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #ffffff;
    margin-top: 3px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}


#index0 {
    color: #000000;
}

#index1 {
    color: #000000;
}

#index2 {
    color: #000000;
}

#index3 {
    color: #000000;
}

#index4 {
    color: #000000;
}

#index5 {
    color: #000000;
}

#index6 {
    color: #000000;
}

#btnAjouter {
    margin-top: 3px;
    margin-left: 3px;

}

#btnSupprimer {
    margin-top: 3px;
    margin-left: 3px;
}


#btnModifier {
    margin-top: 3px;
    margin-left: 3px;
}


#btnEnrgistrer {
    margin-top: 3px;
    margin-left: 3px;
}

